.expo
.expo-shared
/dist
/build
android/
ios/

# Node / tooling
node_modules
npm-debug.log*
yarn-error.log
.DS_Store

# Local config
.env
.env.local
.env.*.local

# VS Code
.vscode/*
!.vscode/extensions.json
